<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Image Test </title>
</head>
<body style="background: #d6eaf8" >

<h4 style="vertical-align: center">Хотите узнать каких пикселей больше на картинке, белых или чёрных?</h4>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name="search_form" >Узнать</button>
</form>


<h4 style="vertical-align: center">Хотите узнать количество пикселей конкретного цвета?</h4>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <p>Введите номер цвета без #:</p>
    {{ form_count.as_p }}
    <button type="submit" name="search_form_count" >Узнать</button>
</form>

{% if img_obj %}
  <h3>Succesfully uploaded : {{img_obj.title}}</h3>
  <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
    <h3 style="color: red" > {{res}} </h3>
{% endif %}

</body>
</html>